<div class="container">
<nav>
</nav> 
    
    <div class="gallery" >
        <h1 class="title" >Panel de Administración</h1>
        
        <div class="panel">
        <button onclick="irPanelControl()">Panel de Control</button>
        <button onclick="irDBUser()">DB User</button>
        <button onclick="irRendimientos()">Rendimientos</button>
        <button onclick="irAgregarProductos()">Agregar Productos</button>
        <button onclick="volver()">Volver</button>
        </div>
    </div>
</div>

<script src="/js/admin.js"></script>
