<div>
    <h1>Cookis</h1>
    <form id="cookieForm">
        <label >Nombre</label>
        <input type="name">
        <label >Correo Electronico</label>
        <input type="email">
        <input type="submit">
    </form>
    <button onclick="getCookie()">obtener cookie</button>
</div>

<script src="/js/cookieSetter.js"></script>