<div >
    <div >
    <h1>Gracias por su compra</h1>
    <p>Comprobante de compra enviado a su mail, con los detalles de la misma </p>
    <a href="/home" ><button>Inicio</button></a>
    <a href="/api/session/logout"><button>Salir</button></a>
    </div>
</div>